// *
// Alle Css Grundelemente 
//
//*
:root {
--martinique:#3a2f5a;
--revolver: #2a1e3c;
--white-lilac: #e1e2f4;
--picton-blue: #39dff1;
--white: white;
--black: #060606;
}




/* Typografie Variable */
:root {
  
  --nav-font-size: clamp(1.2rem, calc(1.2rem + 1vw), 1.8rem);
  --h2-font-size: clamp(1.5rem, calc(1.5rem + 2vw), 3rem);
    
@font-face {
    font-family: 'VT323';
    src: url('/fonts/vt323-v17-latin-regular.woff2') format('woff2');
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Source Sans 3';
    src: url('/fonts/source-sans-3-v15-latin-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

}
