/* =================
Global Css-Probs 
==================== */
@use 'base';


/* =================
Aufgaben 
- Css Aufteilen nach htmlTags
- Css Boxen 
- css Textsytle
===================*/



html,
body {
  margin: 0;
  padding: 0;
  margin-inline: auto;
  box-sizing: border-box;
  display: grid;
  gap: 3rem;
  background: var(--revolver);
  font-size: 1.5rem;
  color: var(--white-lilac);
  scroll-behavior: smooth;
}

#hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  font-family: 'Source Sans 3', Verdana, sans-serif;
}

h1 {
  font-size: 36px;
  margin-top: 0.25em;
  font-family: 'VT323', 'Courier New', Courier, monospace;
}

#links a {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  color: #111827;
  text-decoration: none;
  transition: color 0.2s;
}

#links a:hover {
  color: rgb(78, 80, 86);
}

#links a svg {
  height: 1em;
  margin-left: 8px;
}

#links a.button {
  color: white;
  background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.12),
    inset 0 -2px 0 rgba(0, 0, 0, 0.24);
  border-radius: 10px;
}

#links a.button:hover {
  color: rgb(230, 230, 230);
  box-shadow: none;
}

pre {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: normal;
  background: linear-gradient(14deg, #d83333 0%, #f041ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 0;
}

h2 {
  margin: 0 0 1em;
  font-weight: normal;
  color: var(--white-lilac);
  font-size: var(--h2-font-size);
  font-family: 'VT323', 'Courier New', Courier, monospace;
}

p {
  color: #4b5563;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.006em;
  margin: 0;
}

code {
  display: inline-block;
  background: linear-gradient(66.77deg, #f3cddd 0%, #f5cee7 100%) padding-box,
    linear-gradient(155deg, #d83333 0%, #f041ff 18%, #f5cee7 45%) border-box;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 6px 8px;
}

.box {
  padding: 16px;
  background: rgba(255, 255, 255, 1);
  border-radius: 16px;
  border: 1px solid white;
}

#news {
  position: absolute;
  bottom: 16px;
  right: 16px;
  max-width: 300px;
  text-decoration: none;
  transition: background 0.2s;
  backdrop-filter: blur(50px);
}

#news:hover {
  background: rgba(255, 255, 255, 0.55);
}

@media screen and (max-height: 368px) {
  #news {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #container {
    display: flex;
    flex-direction: column;
  }

  #hero {
    display: block;
    padding-top: 10%;
  }

  #links {
    flex-wrap: wrap;
  }

  #links a.button {
    padding: 14px 18px;
  }

  #news {
    right: 16px;
    left: 16px;
    bottom: 2.5rem;
    max-width: 100%;
  }

  h1 {
    line-height: 1.5;
  }
}
.content-wrapper-kurs{
  display: flex;
  flex-direction: column;
  background-color: var(--revolver);

  padding: 2em;
  margin-inline: auto;
  min-width: 90vh;
  max-width: 100vh;

  gap: 2em;
  box-shadow: -2px -2px 3em 12px rgba(57, 223, 241, 0.2);
              
  

}
.article-content-kurs{
  display: flex;
  flex-direction: column;
  gap: 2em;
  font-family: 'Source Sans 3', Verdana, sans-serif;
  color: var(--White-lilac);
}
.footer-grid{
background-color: var(--martinique);
}
#heroImg{
  width: 100%;
  height: auto;
}