@use 'base';

//* 
//  https://css-tricks.com/snippets/css/a-guide-to-flexbox/
//
//*

.topnav {
  overflow: hidden;
  position: sticky;
  display: flex;
  
  justify-content: center;
  align-items: center;
  align-content: space-around;
  margin: 0;
  text-decoration: none;
  box-shadow: 0px 2px 12px 0px rgba(57, 223, 241, 0.3);
}
ul.topnav {
  list-style-type: none;
  gap: 4rem;
  flex-wrap: wrap;
  margin: 0;
  padding: 0.5rem;
  overflow: hidden;
  background-color: var(--revolver);
  font-family: 'VT323', 'Courier New', Courier, monospace;
  /* font-size: var(--nav-font-size); */
}

ul.topnav li {
  float: none;
}

ul.topnav li a {
  display: block;
  color: var(--white-lilac);
  text-align: center;
  text-decoration: none;
  margin: 0.5rem;

  
}
ul.topnav li a:hover {
  color: var(--picton-blue);
  display: block;
  animation-delay: 200;
}



ul.topnav li a:active {
  color: var(--martinique);
  background-color: var(--picton-blue);
  
}



ul.topnav li.right {
  float: right;
}
// Effekt für smooth Scrolling
#lernziele {
  margin-top: -50px;
  padding-top: 50px;
}
#spielablauf{
  margin-top: -50px;
  padding-top: 50px;
}
// Anpassungen für mobile Geräte
@media screen and (max-width: 375px) {
  ul.topnav {
    flex-direction: column;
    flex-flow: column wrap;
    font-size: 2.5rem;
  }
    
  ul.topnav li {
    margin: 1rem 0 1rem 0;
    margin-inline: 0;
    
  }
 
  #schusterjunge-logo {
      align-items: center;
      padding-bottom: 2.5rem;
  }

  #schusterjunge-logo {
      height: 1.5rem;
      width: min-content;
  }
}