@use 'base';

@font-face {
  font-family: 'VT323';
  font-style: normal;
  src: url('/fonts/vt323-v17-latin-regular.woff2') format('woff2');
}

.topnav {
  overflow: hidden;
  align-items: center;
  align-content: stretch; 
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0.25em;
  padding-left: 0.5em;
  text-decoration: none;
  box-shadow: 0px 2px 12px 0px rgba(57, 223, 241, 0.3);
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  flex-grow: 1;
  padding: 0;
  overflow: hidden;
  background-color: base.$Martinique;
  font-family: 'VT323', 'Courier New', Courier, monospace;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: flex;
  color: base.$white-lilac;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: #111;
}

ul.topnav li a.active {
  background-color: #04aa6d;
}

ul.topnav li.right {
  float: right;
}
#schusterjunge-logo {
  height: 1.5em;
  width: min-content;
}
@media screen and (max-width: 375px) {
  ul.topnav {
    flex-direction: column;
  }
  #schusterjunge-logo {
    align-items: center;
    padding-bottom: 2.5em;
  }
}
