---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import './styles/global.css';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Welcome />

  <h2>
    Auf den nächsten Seite sind Lernmittel und Tips für den
    Informatikunterricht.
  </h2>

  <p>
    Vom ersten schreiben eines einfachen Zeichenspiel mit Bleistift und Papiers
    bis zum Entwickeln eines Spiels im Browser. --- Die seite dient als
    Hilfestellung und inspriation für den Spannden Bereich des Programmiern und
    der Informatik
  </p>
</Layout>
