---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import MainNav from '../components/MainNav.astro';
import '../styles/global.scss';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <MainNav />
  <Welcome />
<main>
  <div class="content-wrapper">
    <section>
  <h2>
   Hier entsteht der erste Kurs der Informatik-Reihe für Schüler und Schülerinnen und Lehrpersonal.
  </h2>
  <div class="section-content-einleitung">
   <article> 
    eine kleine einleitung zu Idee und Ablauf des Kurses.
    <h3>Kursübersicht</h3>
    <div class="article-content">
      Der Kurs zielt darauf ab, grundlegende Denkweisen in der Informatik spielerisch zu vermitteln, ohne digitale Geräte zu nutzen.

      Modul 1: Algorithmen und Programmierung ohne Computer
      **Aufgabe: Der Roboter-Kommando-Parcours**

      ### Spielprinzip:

      - Ein Schüler wird zum "Roboter"
      - Ein anderer Schüler gibt Befehle
      - Das Ziel: Den Roboter sicher durch einen vorher festgelegten Hindernisparcours zu navigieren

      ### Lernziele:

      - Präzise Kommunikation
      - Sequenzielle Anweisungen
      - Grundlagen der Programmlogik
      - Fehlerbehandlung

      ### Durchführung:

      1. Zeichne einen Parcours auf ein großes Blatt Papier mit Hindernissen
      2. Ein Schüler verbindet die Augen
      3. Der andere gibt nur folgende Befehle:
          - "Schritt vorwärts"
          - "Drehe links/rechts"
          - "Stopp"

      <strong>Zusätzliche Hinweise:</strong>

		- Ermutigen Sie Kreativität und Experimentierfreude
		- Loben Sie Problemlösungsansätze
		- Machen Sie Fehler zu Lernchancen
		- Fördern Sie Teamarbeit und Kommunikation

	Dieser Kurs vermittelt grundlegende informatische Konzepte spielerisch und ohne digitale Hilfsmittel. 
	Er fördert logisches Denken, Problemlösungsfähigkeiten und algorithmisches Verständnis.
</div>
</article>
</div>
</section>
<section>
  <div class="section-content-kursübersicht">
    
  </div>
</section>
</main>
  <footer>
    <div class="footer-grid">
      <div class="frist-col-left">
      Kursübersicht

      </div>
      <div class="middle-col">
        Test2

      </div>
      <div class="col-right">
        Test3

      </div>

    </div>
  </footer>
</div>

</Layout>
