---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import MainNav from '../components/MainNav.astro';
import '../styles/global.scss';

---

<Layout>
    <header>
      <Welcome />
      <MainNav /> 
    </header>
  <section class="kurs-content-wrapper"> 
  <div class="kurs-content-container">
    <!-- article dient später Wordpress zu sturktuieren -->
   <article> 
    <h2>KURS 01: Roboter Parcours </h2>
    <div>
      <p>Der Kurs zielt darauf ab, grundlegende Denkweisen in der Informatik spielerisch zu vermitteln, ohne digitale Geräte zu nutzen.</p>
      <div class="kurs-content-article">
        <h3>Spielprinzip:</h3>
          <ul>
            <li class="ul-list-element">Ein Schüler wird zum "Roboter"</li>
            <li class="ul-list-element">Ein anderer Schüler gibt Befehle</li>
            <li class="ul-list-element">Das Ziel: Den Roboter sicher durch einen vorher festgelegten Hindernisparcours zu navigieren</li>
          </ul>
      </div>
      <div class="kurs-content-article">
        <h3 id="lernziele">Lernziele:</h3>
          <ul>
            <li class="ul-list-element">Präzise Kommunikation</li>
            <li class="ul-list-element">fortlaufende Befehle erstellen</li>
            <li class="ul-list-element">Grundlagen der Programmlogik</li>
            <li class="ul-list-element">Fehlerbehandlung</li>
          </ul>
      </div>
     <div class="kurs-content-article">
      <h3 id="spielablauf">Durchführung:</h3>
      <ol>
      <li>Zeichne einen Parcours auf ein großes Blatt Papier mit Hindernissen</li>   
      <li>Ein Schüler verbindet die Augen</li>
      <li>Der andere gibt nur folgende Befehle:</li>
          <ul>
            <li class="ul-list-element">"Schritt vorwärts"</li>
            <li class="ul-list-element">"Drehe links/rechts"</li>
            <li class="ul-list-element">"Stopp"</li>
          </ul>
      </ol>
     <p>Zusätzliche Hinweise:
        <ul>
		      <li>- Ermutigen Sie Kreativität und Experimentierfreude</li>
		      <li>- Loben Sie Problemlösungsansätze</li>
		      <li>- Machen Sie Fehler zu Lernchancen</li>
		      <li>- Fördern Sie Teamarbeit und Kommunikation</li>
        </ul>
     </p>
	      Dieser Kurs vermittelt grundlegende informatische Konzepte spielerisch und ohne digitale Hilfsmittel. 
	      Er fördert logisches Denken, Problemlösungsfähigkeiten und algorithmisches Verständnis.
     </p>
    </div>
</article>
</div>
</section>
<footer>
  <div class="footer-grid">
    <div class="frist-col-left">
    Kursübersicht

    </div>
    <div class="middle-col">
      Test2

    </div>
    <div class="col-right">
      Test3

    </div>

  </div>
</footer>
</div>
</Layout>
