---
import './styles/topnav.scss';
---

<nav>
  <div>
    <ul class="topnav">
      <li class="active"><a href="/home">Home</a></li>
      <li><a href="/kurse/kurs01">Kurse</a></li>
    </ul>
  </div>
</nav>
