---
import '../styles/topnav.scss';
import Button from '../components/button.astro';
---

<nav>
  <ul class="topnav">
    <li id="schusterjunge-logo" class="active">
      <a href="/"><img src="/assets/logo.png" alt="Logo" /></a>
    </li>
    <li><a href="#lernziele">Lernziele</a></li>
    <li><a href="#spielablauf">Durchführung</a></li>
    <li><a href="#about">Über mich</a></li>
    
  </ul>

</nav>
