---
import '../styles/topnav.scss';
---

<nav>
  <ul class="topnav">
    <li id="schusterjunge-logo" class="active">
      <a href="/"><img src="/assets/logo.png" alt="Logo" /></a>
    </li>
    <li><a href="/kurse/kurs01">Kurse</a></li>
    <li><a href="/about">Blog</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</nav>
