---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import heroImage from './public/assets/ascii-art.png';
import '../styles/global.scss';
---

<div id="container">
  <img id="background" src={background.src} alt="" fetchpriority="high" />
  <main>
    <section id="hero">
      <img id="heroImg" src={heroImage.src} alt="Textimg" fetchpriority="high" />

    </section>
  </main>
</div>

