---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import './styles/global.scss';
---

<div id="container">
  <img id="background" src={background.src} alt="" fetchpriority="high" />
  <main>
    <section id="hero">
      <h1>Faszination Informatik entdecken:</h1>
      <h2>
        Inspirierende Inhalte, die abstrakte Konzepte greifbar und spannend
        machen
      </h2>
    </section>
  </main>
</div>
