---


import heroImage from '../assets/ascii-art.png';
import '../styles/global.scss';
---

<div class="hero-container">
    <section id="hero">
    <h1>Fazination Informatik entdecken</h1>
    </section>
</div>

