---


import heroImage from './public/assets/ascii-art.png';
import '../styles/global.scss';
---

<div id="container">
  
  <main>
    <section id="hero">
      <img id="heroImg" src={heroImage.src} alt="Bild mit dem Text: Faszination Informatik entdecken" fetchpriority="high" />

    </section>
  </main>
</div>

