@use 'base';

@font-face {
  font-family: 'VT323';
  font-style: normal;
  src: url('/fonts/vt323-v17-latin-regular.woff2') format('woff2');
}

.topnav {
  overflow: hidden;
  align-items: center;
  align-content: stretch;
  flex-grow: 1;
  justify-items: start;
  justify-content: stretch;
  margin-top: 0.25em;
  padding-left: 0.5em;
  display: grid;
  text-decoration: none;
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: base.$Martinique;
  font-family: 'VT323', 'Courier New', Courier, monospace;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: base.$white-lilac;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: #111;
}

ul.topnav li a.active {
  background-color: #04aa6d;
}

ul.topnav li.right {
  float: right;
}
